p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight:bold;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}

/*Tipografía Arial
Tamaño de letra: 20px
Negrita
Cursiva
Subrayado
Alineado al centro*/